
#navbar{
display: flex;
flex-direction: row;


}

#navbar>div{
   margin:10px;
   padding:10px 
}

.parent{
display:flex;
flex-direction: row;
justify-content: center;

}

.slidecontainer{
display:flex;

flex-direction: column;

}

